<div class="toolbox" id="tb_{{ key }}">
  <div class="heading"
      id="head_{{ key }}"
      onclick="toggle_content(this);">
    <span class="tglind" id="tglind_{{ key }}">
      [-]
    </span>
    <span class="title">
    {% block itemhead %}{{ item._class }}@{{ host }}{% endblock %}
    </span>
    <span class="info">
      age: {{ "%.0f" | format(item._age) }}s,
      next upd: {{ "%.0f" | format(item._next_update) }}s
    </span>

  </div>

  <div class="content"
       id="content_{{ key }}"
       style="display:block">
    {% block itemdata %}{% endblock %}
  </div>
</div>
